
/* Use fancy gradients to create cloud like atmosphere*/
body {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: #82B7FE;
}

body::before,
body::after {
  content: "";
  position: fixed;
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.7;
  z-index: -1;
}

body::before {
  background: #B7E5FF;
  top: -20%;
  left: -20%;
  animation: cloudOne 18s ease-in-out infinite alternate;
}

body::after {
  background: #5696CC;
  bottom: -20%;
  right: -20%;
  animation: cloudTwo 23s ease-in-out infinite alternate;
}

@keyframes cloudOne {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(30vw, 20vh);
  }
}

@keyframes cloudTwo {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-25vw, -15vh);
  }
}
/* SIDEBAR STYLING */
.siderbar {
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* MAIN DISPLAY AREA STYLING */
.main-display-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100vw;
  gap: 10px;
}

.weather-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.weather-icon-data {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
